.logo a {
    letter-spacing: -1px; 
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lora';
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: 'Lora';
}

.hizkia {
    color: rgb(39, 39, 236);  
}

.pappang {
    color: rgb(237, 111, 111);
    font-size: 80%;  
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #056c8e;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-link {
    font-size: 18px;  
    transition: font-size 0.3s ease; 
}

.menu-link:hover {
    font-size: 22px; 
}

#gallery-section h2 {
    margin-bottom: 0px; 
}

#gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery-item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; 
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.gallery-item img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease;
}
h2{
    text-align: center;
    font-family:'comic sans-ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 50px;
    color: #056c8e;
    width: 100%;
}
     
.gallery-item img.zoom.hover

h2{
    text-align: center;
}
     
     